
.container {
	max-width: 900px;
}

/************** Custom ***************/

.section {
	position: relative;
}

.bgImage { 
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%; 
	z-index: 0;
}

.loader-window {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	z-index: 100;
}

.loader-window img.logo {
	position:absolute;top:50%;margin-top:-110px;left:50%;margin-left:-150px;
}

.divider {
	background:steelblue;
	padding: 0.375em;
}

.videoAspectRatioWrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
}

.videoAspectRatioWrapper iframe,
.videoAspectRatioWrapper object,
.videoAspectRatioWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.font-serif {
	font-family: serif;
}

/*************** Navigation *************/

.navbar { margin-bottom: 0; border-radius: 0; }

.navbar-slateblue {
	background: steelblue;
	text-transform: uppercase;
}

.navbar-slateblue a { 
	font-family: Arial, sans-serif;
	color: black;
	font-weight: bold;
}

.navbar-slateblue .navbar-toggle .icon-bar {
	background: black;
}

.navbar-slateblue .navbar-toggle {
	background: #f9f9f9;
}

.navbar-slateblue .nav>li>a:hover, .nav>li>a:focus {
	background: skyblue;
}

/*************** Artists *************/
ul#artists { padding-left: 0; }

ul#artists li {
	margin-bottom: 5em;
}

ul#artists li > img {
	border: 0.1em solid gainsboro;
	cursor: pointer;
}

ul#artists li > img:hover { border: 0.2em solid steelblue; }

.artist .profilepic { padding-bottom:2em; }

table.artist-music { border-top: 1px dotted gray; width: 100%; margin-top: 3em; }
table.artist-music tr > td:nth-child(3) { width: 8em; padding-right: 0.5em;}
table.artist-music tr > td:first-child { width: 1em; padding-left: 2em; padding-right: 2em;  }
table.artist-music tr {
	border-bottom: 1px dotted gray;
}
table.artist-music tr td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#terms {

}

table.artist-music tr.selected {
	background: gainsboro
}

table.artist-music .button-play { max-height: 0.75em; }

table.artist-music tr:hover { background: gainsboro; cursor: pointer; }

#artistContainer .artist { display: none; }

#playBox {
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 1000000;
}

/*************** Terms *************/
#terms {
	background: black;
	color: #f9f9f9;
	text-transform: uppercase;
}

#terms .company {
	font-weight: bold;
}

#terms a { color: #f9f9f9; }

#terms ul { list-style: none; }

#terms ul li {
	float: left;
	margin-right: 3em;
}
